@model WebNorthWind.ViewModels.ProductsView

@{
    ViewBag.Title = "Index";
}

<h3>產品維護</h3>
@using (Html.BeginForm("Index", "Products", FormMethod.Post)) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <div class="form-group">
            @Html.LabelFor(model => model.ProductID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ProductID, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ProductID, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.ProductName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ProductName, new { htmlAttributes = new { @class = "form-control" } })
                @*@Html.ValidationMessageFor(model => model.ProductName, "", new { @class = "text-danger" })*@
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @Html.HiddenFor(model => model.intPage)
                <input type="submit" value="搜尋" class="btn btn-default" />
            </div>
        </div>
    </div>
}

@Html.ActionLink("新增", "Create")

<table border="1">
    <tr>
        <td>ProductID</td>
        <td>ProductName</td>
        <td>SupplierID</td>
        <td>CategoryID</td>
        <td>QuantityPerUnit</td>
        <td>UnitPrice</td>
        <td>UnitsInStock</td>
        <td>UnitsOnOrder</td>
        <td>ReorderLevel</td>
        <td>Discontinued</td>
        <td></td>
    </tr>
    @if (!Model.DataList.Count.Equals(0))
    {
        foreach (var item in Model.DataList)
        {
            <tr>
                <td style="white-space:nowrap">
                    @item.ProductID
                </td>
                <td style="white-space:nowrap">
                    @item.ProductName
                </td>
                <td style="white-space:nowrap">
                    @item.SupplierID
                </td>
                <td style="white-space:nowrap">
                    @item.CategoryID
                </td>
                <td style="white-space:nowrap">
                    @item.QuantityPerUnit
                </td>
                <td style="white-space:nowrap">
                    @item.UnitPrice
                </td>
                <td style="white-space:nowrap">
                    @item.UnitsInStock
                </td>
                <td style="white-space:nowrap">
                    @item.UnitsOnOrder
                </td>
                <td style="white-space:nowrap">
                    @item.ReorderLevel
                </td>
                <td style="white-space:nowrap">
                    @item.Discontinued
                </td>
                <td style="white-space:nowrap">
                    @Html.ActionLink("修改", "Edit", new { ProductID = item.ProductID })
                    @Html.ActionLink("刪除", "Delete", new { ProductID = item.ProductID })
                </td>
            </tr>
        }
    }
    @*如果資料庫中為零筆記錄，則印出"資料庫內查無資料"*@
    else
    {
        <tr>
            <td colspan="11">
                資料庫內查無資料
            </td>
        </tr>
    }
    <tr>
        <td colspan="11" align="center">
            <table>
                <tr>
                    <td>
                        @*若目前所在頁數大於1，則顯示上一頁與最前頁的按鈕*@
                        @if (Model.Paging.NowPage > 1)
                        {
                            <input type="button" id="btnFirst" value="<<" class="btn btn-default" onclick="changePage(1)" />
                            <input type="button" id="btnPrevious" value="<" class="btn btn-default" onclick="changePage(@Model.Paging.NowPage - 1);" />
                        }
                    </td>
                    <td>
                        @*顯示當前頁數前後各五頁的頁數*@
                        @for (var page = (Model.Paging.NowPage - 6); page < (Model.Paging.NowPage + 6); page++)
                        {                                         
                            if ((page > 0) && (page <= Model.Paging.MaxPage))
                            {
                                if (page == Model.Paging.NowPage)
                                {
                                    <b>@page</b>
                                }
                                else
                                {
                                    <input type="button" id="btnThis" value="@page" class="btn btn-default" onclick="changePage(@page)" />
                                }
                            }
                        }
                    </td>
                    <td>
                        @*若目前所在頁數小於總頁數，則顯示下一頁與最後一頁的按鈕*@
                        @if (Model.Paging.NowPage < Model.Paging.MaxPage)
                        {
                            <input type="button" id="btnNext" value=">" class="btn btn-default" onclick="changePage(@Model.Paging.NowPage + 1)" />
                            <input type="button" id="btnLast" value=">>" class="btn btn-default" onclick="changePage(@Model.Paging.MaxPage)" />
                        }
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script>
    function changePage(toPage)
    {
        $("#intPage").val(toPage);
        $("form:first").submit();
    }
</script>